<?xml version="1.0" encoding="utf-8"?>
<window>
	<defaultcontrol always="true">8000</defaultcontrol>
	<menucontrol>9000</menucontrol>
	<controls>
		<!-- Backdrop -->
		<include>Background_Nowplaying</include>
		<include content="Background_Fanart_Default">
			<param name="imagepath">$VAR[SettingsFanartVar]</param>
			<param name="opencondition">$EXP[Settings_Animation_OpenCondition]</param>
			<param name="closecondition">$EXP[Settings_Animation_CloseCondition]</param>
		</include>
		<!-- Floor -->
		<control type="group">
			<visible>!Skin.HasSetting(SettingsHideFloor)</visible>
			<include content="Animation_Slide_Bottom">
				<param name="slide">218</param>
				<param name="opencondition">$EXP[Settings_Animation_OpenCondition]</param>
				<param name="closecondition">$EXP[Settings_Animation_CloseCondition]</param>
			</include>
			<include>Floor_Background_Default</include>
		</control>
		<!-- Content -->
		<control type="group">
			<include>Animation_Zoom_OpenClose</include>
			<include content="Animation_FurnitureShift">
				<param name="slidetopbarcondition">Skin.HasSetting(SettingsHideTopBar)</param>
				<param name="slidefloorcondition">!Skin.HasSetting(SettingsHideTopBar) + Skin.HasSetting(SettingsHideFloor)</param>
			</include>
			<include content="Panel_Background_Default">
				<param name="reflect">!Skin.HasSetting(SettingsHideFloor)</param>
			</include>
			<control type="panel" id="8000">
				<left>131</left>
				<top>173</top>
				<width>1688</width>
				<height>774</height>
				<onleft>9000</onleft>
				<onright>60</onright>
				<pagecontrol>60</pagecontrol>
				<itemlayout height="258" width="422">
					<control type="image">
						<width>392</width>
						<height>228</height>
						<aspectratio>scale</aspectratio>
						<texture>$INFO[ListItem.Icon]</texture>
						<bordertexture border="4" colordiffuse="55FFFFFF">buttons/list-select-focus.png</bordertexture>
						<bordersize>4</bordersize>
					</control>
					<control type="label">
						<width>392</width>
						<height>400</height>
						<label>$INFO[ListItem.Label]</label>
						<font>Font36_Reg</font>
						<align>center</align>
						<textcolor>white2</textcolor>
					</control>
				</itemlayout>
				<focusedlayout height="258" width="422">
					<control type="group">
						<animation effect="zoom" center="196,114" start="100" end="107" time="250" tween="sine">Focus</animation>
						<control type="image">
							<width>392</width>
							<height>228</height>
							<aspectratio>scale</aspectratio>
							<texture colordiffuse="$VAR[HighlightColorVar]">$INFO[ListItem.Icon]</texture>
							<bordertexture border="4" colordiffuse="$VAR[HighlightColorVar]">buttons/list-select-focus.png</bordertexture>
							<bordersize>4</bordersize>
						</control>
						<control type="label">
							<width>392</width>
							<height>400</height>
							<label>$INFO[ListItem.Label]</label>
							<font>Font36_Reg</font>
							<align>center</align>
						</control>
					</control>
				</focusedlayout>
				<content>
					<item>
						<label>$LOCALIZE[14207]</label>
						<onclick>ActivateWindow(InterfaceSettings)</onclick>
						<icon>icons/settings/interface.jpg</icon>
					</item>
					<item>
						<label>$LOCALIZE[20077]</label>
						<onclick>ActivateWindow(SkinSettings)</onclick>
						<icon>icons/settings/skinsettings.jpg</icon>
					</item>
					<item>
						<label>$LOCALIZE[14201]</label>
						<onclick>ActivateWindow(PlayerSettings)</onclick>
						<icon>icons/settings/player.jpg</icon>
					</item>
					<item>
						<label>$LOCALIZE[14212]</label>
						<onclick>ActivateWindow(MediaSettings)</onclick>
						<icon>icons/settings/media.jpg</icon>
					</item>
					<item>
						<label>$LOCALIZE[24001]</label>
						<onclick>ActivateWindow(addonbrowser)</onclick>
						<icon>icons/settings/addons.jpg</icon>
					</item>
					<item>
						<label>$LOCALIZE[14208]</label>
						<onclick>ActivateWindow(ServiceSettings)</onclick>
						<icon>icons/settings/network.jpg</icon>
					</item>
					<item>
						<label>$LOCALIZE[14209]</label>
						<onclick>ActivateWindow(SystemSettings)</onclick>
						<icon>icons/settings/system.jpg</icon>
					</item>
					<item>
						<label>$LOCALIZE[14205]</label>
						<onclick>ActivateWindow(PVRSettings)</onclick>
						<icon>icons/settings/livetv.jpg</icon>
					</item>
					<item>
						<label>$LOCALIZE[15016]</label>
						<onclick>ActivateWindow(GameSettings)</onclick>
						<icon>icons/settings/games.jpg</icon>
					</item>
					<item>
						<label>$LOCALIZE[14210]</label>
						<onclick>ActivateWindow(Profiles)</onclick>
						<icon>icons/settings/profiles.jpg</icon>
					</item>
					<item>
						<label>$LOCALIZE[10003]</label>
						<onclick>ActivateWindow(filemanager)</onclick>
						<icon>icons/settings/filemanager.jpg</icon>
					</item>
					<item>
						<label>LibreELEC</label>
						<onclick>RunAddon(service.libreelec.settings)</onclick>
						<icon>icons/settings/libreelec.jpg</icon>
						<visible>System.HasAddon(service.libreelec.settings)</visible>
					</item>
					<item>
						<label>$LOCALIZE[138]</label>
						<onclick>ActivateWindow(systeminfo)</onclick>
						<icon>icons/settings/sysinfo.jpg</icon>
					</item>
					<item>
						<label>$LOCALIZE[14114]</label>
						<onclick>ActivateWindow(eventlog)</onclick>
						<icon>icons/settings/eventlog.jpg</icon>
					</item>
				</content>
			</control>
			<control type="scrollbar" id="60">
				<right>81</right>
				<top>143</top>
				<bottom>132</bottom>
				<onleft>8000</onleft>
			</control>
		</control>
		<!-- Topbar -->
		<control type="group">
			<visible>!Skin.HasSetting(SettingsHideTopBar)</visible>
			<include content="Animation_Slide_Top">
				<param name="slide">90</param>
				<param name="opencondition">$EXP[Settings_Animation_OpenCondition]</param>
				<param name="closecondition">$EXP[Settings_Animation_CloseCondition]</param>
			</include>
			<include content="TopBar">
				<param name="breadcrumbs_label">$LOCALIZE[13000]</param>
				<param name="breadcrumbs_icon">settings.png</param>
			</include>
		</control>
		<!-- Media Menu -->
		<include>MediaMenu_MouseOverlay</include>
		<control type="group">
			<include>MediaMenu_Common</include>
			<control type="grouplist" id="9000">
				<usecontrolcoords>true</usecontrolcoords>
				<onleft condition="!Skin.HasSetting(DisableQuickNav)">ActivateWindow(1113)</onleft>
				<onright>8000</onright>
				<onback>8000</onback>
				<include>MediaMenu_Settings</include>
			</control>
		</control>
	</controls>
</window>
